/* NotSignedIn.css */

.not-signed-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-color: #333; /* Dark background for dark theme */
  color: #fff; /* Light text for contrast */
  text-align: center;
  margin: 0; /* Ensure no default margin */
}

.not-signed-in-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.not-signed-in-container p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.not-signed-in-container a {
  color: #4CAF50; /* Green color for the link */
  text-decoration: none;
  border-bottom: 2px solid #4CAF50; /* Underline effect */
  padding-bottom: 2px;
}

.not-signed-in-container a:hover {
  text-decoration: underline;
}
