/* Universal box-sizing for better layout control */
* {
    box-sizing: border-box;
}

/* Reset default margin */
body {
    margin: 0;
}

/* Center content with a container class */
.container {
    margin: 1rem;
    text-align: center;
}

/* Navbar styling */
.nav {
    background-color: #3c6e71; /* Updated background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Site title styling */
.site-title {
    font-size: 1.5rem; /* Reduced font size */
    display: flex;
    align-items: center;
}

/* Navbar list styling */
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Navbar links styling */
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    transition: transform 0.3s ease;
}

/* Active link background color */
.nav li.active {
    background-color: white; /* Updated active link color */
    opacity: 50%;
}

/* Hover effect for links */
.nav a:hover {
    transform: translate(-1px, -1px); /* Moves the link slightly to the top left */
}

/* Styling for logout button */
.logout-button {
    background-color: red; /* Red background */
    border: 2px solid red; /* Red border */
    color: white; /* White text color */
    border-radius: 8px; /* Rounded corners */
    padding: 8px 16px; /* Padding for button */
    font-size: 1rem; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s; /* Transition for hover effects */
    text-align: center;
    border: none; /* Remove default border */
    display: inline-block; /* Ensure it behaves like a button */
   
}

.logout-button:hover {
    background-color: darkred; /* Darker red on hover */
    border-color: darkred; /* Darker border on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
    transform: translateX(-2px); /* Slight lift effect on hover */
}

.logout-button:active {
    /* transform: translateY(1px); Slightly pressed effect on click */
    transform: translateX(-2px); /* Slight lift effect on hover */
}
