/* Universal box-sizing for better layout control */
* {
    box-sizing: border-box;
}

/* Reset default margin */
body {
    margin: 0;
}

/* Center content with a container class */
.container {
    margin: 1rem;
    text-align: center;
}

/* Navbar styling */
.nav {
    background-color: #1d3557; /* Updated background color */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

/* Site title styling */
.site-title {
    font-size: 1.5rem; /* Reduced font size */
    display: flex;
    align-items: center;
}

.site-title:hover{
    background-color: white;
    color : black;
}

/* Navbar list styling */
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Navbar links styling */
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    position: relative;
    transition: color 0.3s ease;
}

/* Add an underline animation on hover for general links */
.nav a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease;
}

.nav a:hover::after {
    width: 100%;
}

/* Remove underline effect for register and login links */
.nav .no-underline::after {
    content: none;
}

/* Active link background color */
.nav li.active {
    background-color: white; /* Updated active link color */
    opacity: 50%;
}

/* Hover effect for links */
.nav a:hover {
    color: orange;
}

/* Styling for logout button */
.logout-button {
    background-color: transparent;
    border: 2px solid #f48c06;
    color: #f48c06;
    border-radius: 16px;
    padding: 6px 12px; /* Slightly smaller padding */
    font-size: 0.875rem; /* Smaller font size */
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
}

.logout-button:hover {
    border-color: #dc2f02;
    color: #dc2f02;
    background-color: transparent;
    /* No transform or background change */
}

.logout-button:active {
    transform: translateY(1px); /* Slightly pressed effect on click */
}

/* Styling for register and login links */
.nav .green-button {
    background-color: transparent;
    border: 1px solid #80b918; /* Smaller border */
    color: #80b918;
    border-radius: 16px;
    padding: 6px 12px; /* Smaller padding */
    font-size: 0.875rem; /* Smaller font size */
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
    display: inline-block;
}

/* No underline effect on hover for register and login links */
.nav .green-button:hover {
    color: #dddf00;
    border-color: #dddf00;
}

/* Ensure register and login links do not have underline animation */
.nav .green-button::after {
    content: none;
}
