/* HomePage.css */
.home-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start (top) */
    height: 100vh;
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .text-content h1 {
    font-size: 3rem;
    background: linear-gradient(90deg, rgb(255, 87, 34), rgb(33, 150, 243), rgb(76, 175, 80));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
  }

  .text-content h2 {
    font-size: 2rem;
    text-align: left; /* Align text to the left */
    width: 100%; /* Ensure it takes up full width */
    /* margin-right: 100px; */
  }

  .text-content {
    flex: 1;
    padding-right: 20px;
    font-size: 1.5em; /* Increase text size */
    margin-top: 20px; /* Shift text down a little */
    margin-left : 15px;
    text-align: left; /* Align text to the right */
  }
  
  .image-content {
    flex: 1;
    text-align: center; /* Align image to the left */
    margin-top: 10px; /* Shift image up a little */
    margin-right : 20px;
  }
  
  .image-content img {
    width: 69%; /* Scale image width */
    /* height: auto; Maintain aspect ratio */
    
    max-width: none; /* Remove any max-width constraints */
    margin-top: 50px; /* Shift image up a little */
  }
  