.submissions-page {
    background-color: #1b1b2f;
    color: #e94560;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .page-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .submissions-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .submissions-table th, .submissions-table td {
    padding: 10px;
    border: 1px solid #162447;
    text-align: left;
    vertical-align: top; /* Align text to the top for better readability */
  }
  
  .submissions-table th {
    background-color: #e94560;
    color: #fff;
    text-align: center;
  }
  
  .submissions-table tr:nth-child(even) {
    background-color: #2a2a72;
    text-align: center;
  }
  
  .submissions-table tr:nth-child(odd) {
    background-color: #1b1b2f;
    text-align: center;
  }
  
  td{
    text-align: center;
  }
  
  .code-cell {
    white-space: pre-wrap; /* Preserve whitespace and formatting */
    word-wrap: break-word; /* Allow long lines to wrap */
    max-width: 200px; /* Limit the width of the code cell */
    overflow: auto; /* Add scroll if necessary */
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .page-button {
    background-color: #e94560;
    border: none;
    color: #fff;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .page-button.active {
    background-color: #162447;
  }
  
  .page-button:hover {
    background-color: #d4325e;
  }
  