/* app.css */

/* Universal box-sizing for better layout control */
* {
  box-sizing: border-box;
}

/* Reset default margin */
body {
  line-height: 1.5;
  color: #d9d9d9;
  background-color: black;
}

/* Basic styling for links */

